.example-spacer {
    flex: 1 1 auto;
  }

.toolbar {
    background-color: #610216;
}

mat-card {
    min-height: 200px;
    min-width: 300px;
    max-height: 400px;
    max-width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #fbf6f0;
}

.mat-card-content{
    word-wrap: break-word;
  }

.info {
    background-image: url(../../../assets/undraw_Graduation_re_gthn.png);

    height: 90vh;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: 40%;
    background-position-x: 20px;
    background-position-y: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}