<mat-toolbar class="toolbar">
    <span>CWAT</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [routerLink]="['/starter']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/info']">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/demo']">
        <mat-icon>toys</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/login']">
        <mat-icon>person_pin</mat-icon>
    </button>
</mat-toolbar>
<div class="not-found">
</div>
