.character-card {
    max-width: 400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

.character-card mat-form-field {
    max-width: 400px;
    min-width: 300px;
}

#slides {
    margin-top: auto;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: auto;
}

.char-ed {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}