.example-spacer {
    flex: 1 1 auto;
  }

.toolbar {
    background-color: #610216;
}

mat-card {
    min-height: 400px;
    min-width: 600px;
    display: flex;
    background-color: #fbf6f0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 5px;
}

.info {
    min-height: fit-content;
}