<div class="card">
    <mat-card *ngFor="let chapter of chapters">
        <mat-card-header>
          <mat-card-title>{{chapter.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="openEditor(chapter)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="deleteChapter(chapter.docID!)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</div>
