.centering {
    display: flex;
    align-items: center;
    justify-content: center;
    height: stretch;
  }

.profile-form {
    margin: 20px;

    mat-form-field {
        min-width: 90%;
    }
}

.profile-card {
    min-width: 40%;
}
  